@import '../../../@theme/styles/themes.scss';

@include nb-install-component() {

    nb-card-body {
        padding: nb-theme(card-padding) 0 0 0;
    }

    .echarts {
        width: 100%;
        height: nb-theme(card-height-large);
    }


    nb-card {
        transform: translate3d(0, 0, 0);
    }

}

:host /deep/ ng2-smart-table tbody>tr>td:first-child {
    font-weight: bold;
    font-family: 'Exo';
}

#hand-pointer {
    cursor: pointer;
}