<div class="row">
  <div class="col" *ngFor="let statusCard of statusCards">
    <ngx-status-card [title]="statusCard.title" [count]="statusCard.count" [percentage]="statusCard.percentage"
      [text]="statusCard.text">
    </ngx-status-card>
  </div>
</div>
<div class="row">
  <div class="col-xxxl-12 col-xxl-12 col-lg-12 col-md-12">
    <nb-card size="medium">
      <nb-card-header>
        {{titleLineLeads}}
      </nb-card-header>
      <div class="col-md-12 chart-container" *ngIf="leadFlag">
        <div echarts [options]="optionsLead" class="echart" (chartInit)="onLeadLineChartInit($event)">
        </div>
      </div>
      <div class="chart-container" *ngIf="!leadFlag">
        <span class="nodata_line">No data to show</span>
      </div>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-xxxl-12 col-xxl-12 col-lg-12 col-md-12">
    <nb-card size="medium">
      <nb-card-header>
        {{titleLineCustomers}}
      </nb-card-header>
      <div class="col-md-12 chart-container" *ngIf="customerFlag">
        <div echarts [options]="optionsCustomer" class="echart" (chartInit)="onCustomerLineChartInit($event)">
        </div>
      </div>
      <div class="chart-container" *ngIf="!customerFlag">
        <span class="nodata_line">No data to show</span>
      </div>
    </nb-card>
  </div>
</div>
<nb-card>
  <nb-card-header>
    Table
  </nb-card-header>

  <nb-card-body>
    <div class="col-md-12">
      <ng2-smart-table class="m-1" [settings]="settings" [source]="source">
      </ng2-smart-table>
    </div>
  </nb-card-body>
</nb-card>