<nb-card>
  <nb-card-header>
    <nb-actions size="medium">
      <nb-action class="control-item">
        <button size="xsmall" name='source' nbButton outline id="hand-pointer" status="success"
          (click)="onSourceMediumSwitch('source')">Source
        </button>
      </nb-action>
      <nb-action class="control-item">
        <button size="xsmall" nbButton name='medium' outline class="hand-pointer" status="success"
          (click)="onSourceMediumSwitch('medium')">Medium
        </button> </nb-action>
      <nb-action class="control-item">
        <button size="xsmall" nbButton name='medium' outline class="hand-pointer" status="success"
          (click)="onSourceMediumSwitch('source/medium')">Source/Medium
        </button> </nb-action>

    </nb-actions>
  </nb-card-header>
  <div class="chart-container" *ngIf="sourceMediumFlag">
    <div echarts [options]="optionsSourceMedium" class="echart" (chartInit)="onSourceMediumChartInit($event)"></div>
  </div>
  <div class="chart-container" *ngIf="!sourceMediumFlag">
    <span class="nodata_line">No data to show</span>
  </div>
</nb-card>
<nb-card>
  <nb-card-header>
    Table
  </nb-card-header>

  <nb-card-body>
    <div class="col-md-12">
      <ng2-smart-table class="m-1" *ngIf="name === 'Source'" [settings]="settings" [source]="source">
      </ng2-smart-table>
      <ng2-smart-table class="m-1" *ngIf="name === 'Medium'" [settings]="mediumsettings" [source]="source">
      </ng2-smart-table>
      <ng2-smart-table class="m-1" *ngIf="name === 'Source/Medium'" [settings]="sourceMediumsettings" [source]="source">
      </ng2-smart-table>
    </div>
  </nb-card-body>
</nb-card>